
/Releases
/BuildMpvUpscale2xAnimeJaNai/bin
/BuildMpvUpscale2xAnimeJaNai/obj
/BuildMpvUpscale2xAnimeJaNai/.vs
/publish

# Runtime log written on every play by animejanai_core.write_current_log_empty
BuildMpvUpscale2xAnimeJaNai/mpv-upscale-2x_animejanai/animejanai/core/currentanimejanai.log
